body
{

}
.heading
{
width: 100%;
text-align: center;
}
.heading button{
    float: right;
    width: 15%;
    height: 50px;
    font-size: 20px;
}
.Play,.Restart{
width: 120px;
height: 70px;
font-size: x-large;
}
#canvas{
border:5px blueviolet;
border-radius: 5px;
box-shadow: 5px 5px 10px burlywood;
}